PORT=
STAGE=
DATABASE_URL=
JWT_REFRESH_TOKEN_SECRET=
JWT_ACCESS_TOKEN_SECRET=
RESEND_API_KEY=
FROM=
BASE_URL=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
TEMP_FOLDER_FOR_CLOUDINARY=
FRONTEND_URL=
LOW_STOCK_LIMIT=